<!DOCTYPE html>
<html ng-app="myApp" ng-controller="firstCtrl as ctrl">
<head>
	<title>My First Angular page</title>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="constant.js"></script>
	<script type="text/javascript" src="service.js"></script>
</head>
<body>
	<h1>My First Angular page</h1>
	<div>
<p>Input something in the input box:</p>
<p>Numer : <input type="number" ng-model="ctrl.number" placeholder="enter a number" ng-change="ctrl.incr()"></p>
<div ng-if="ctrl.nullable(ctrl.number) && ctrl.nullable(ctrl.number1)">
	<h1> <span ng-bind="ctrl.number"></span> + 1 = <span ng-bind="ctrl.number1"></span> </h1>
</div>
<div ng-if="!(ctrl.nullable(ctrl.number) && ctrl.nullable(ctrl.number1))">
	<h1> <span> your input goes here</span> + 1 = <span>output comes here</span> </h1>
</div>

</div>
</body>
</html>