<!DOCTYPE html>
<html ng-app="myApp" ng-controller="firstCtrl as ctrl">
<head>
	<title>My First Angular page</title>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="constant.js"></script>
	<script type="text/javascript" src="service.js"></script>
</head>
<body>
	<h1>My First Angular page</h1>
	<div>
<p>Input something in the input box:</p>
<p>Numer : <input type="number" ng-model="ctrl.firstInput" placeholder="enter a number" ng-change="ctrl.incr()"></p>
<p>Numer : <input type="number" ng-model="ctrl.secondInput" placeholder="enter a number" ng-change="ctrl.incr()"></p>
<div ng-if="ctrl.nullable(ctrl.firstInput) && ctrl.nullable(ctrl.secondInput)">
	<h1> <span ng-bind="ctrl.firstInput"></span> + <span ng-bind="ctrl.secondInput"></span> = <span ng-bind="ctrl.sum"></span> </h1>
</div>
<div ng-if="!(ctrl.nullable(ctrl.firstInput) && ctrl.nullable(ctrl.secondInput))">
	<h1> <span> your first input goes here</span> + <span>your second input goes here</span> = <span>output comes here</span> </h1>
</div>

</div>
</body>
</html>